.description {
  text-align: center;

  .overview {
    display: flex;
    img {
      width: 30%;
      height: auto;
      margin: 0.5rem;
    }
  }

  .country {
    font-weight: 500;
    font-size: 1.5rem;
  }

  .description-flag {
    width: 200px;
    margin: 10px 0;
  }

  .capital {
    font-size: 1.1rem;

    span {
      color: #7b1fa2;
      text-shadow: 0.5px 0 0 #000, 0 0 3px rgba(109, 109, 109, 0.39), 0 0 10px #fff, 0 0 10px #fff;
      font-weight: 500;
    }
  }

  .desc {
    font-size: 0.8rem;
  }
}
.description::-webkit-scrollbar {
  display: none;
  // scrollbar-width: none;
}
