.header {
  .container-xl {
    .row {
      .col {
        text-align: center;
        background: #7b1fa2;
        color: white;
        min-width: 60px;
      }

      .active {
        background: #ae52d4;
      }
    }
  }
}
