.jumbotron {
  display: flex;
  background-color: #63636367 !important;
  margin: 1rem 0 !important;
  padding: 1rem 1rem !important;

  .flag {
    margin-right: 1em;

    img {
      width: 300px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .language {
      font-size: 2rem;
    }
  }
}
